{% extends "layout.html" %}

{% block title %}
    Ingredient Categories
{% endblock %}

{% block main %}
    <form action="/admin/categories" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="category" name="category" placeholder="Input a new ingredient category" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ }}</td>
                <td>{{ }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
