{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Transaction Time</th>

            </thead>
            <tbody>
                {% for hist in history %}
                <tr>
                    <td>{{ hist["symbol"] }}</td>
                    <td>{{ hist["price"] | usd }}</td>
                    <td>{{ hist["shares"] }}</td>
                    <td>{{ hist["trx_time"] }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock %}
