{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="container p-3 bg-primary text-white">
        <h3>Your Investment Portofolio</h3>
    </div>
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>

            </thead>
            <tbody>

                {% for porto in portofolio %}
                <tr>
                    <td>{{ porto["symbol"] }}</td>
                    <td>{{ porto["name"] }}</td>
                    <td>{{ porto["price"] | usd }}</td>
                    <td>{{ shares }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container bg-primary p-3 mt-5 text-white">
        <h3>Your current cash: {{ balance["cash"] | usd }}</h3>
    </div>

{% endblock %}
