{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div>
    <table class="table-striped">
        <thead>
            <th>
                name
            </th>
            <th>
                price
            </th>
            <th>
                symbol
            </th>
        </thead>
        <tbody>
    {% for key in symbols %}
        <!-- {{ symbol.name }}
        {{ symbol.price }} -->
        <!-- {{ symbol.symbol }} -->
        <!-- {{ symbol }} -->
        <tr>
            <td>{{ symbols[key].name }}</td>
            <td>{{ symbols[key].price }}</td>
            <!-- <td>{{ symbols[key].symbol }}</td> -->
        </tr>
    {% endfor %}

</tbody>
</table>
</div>
{% endblock %}
